QFrame {
    background: #40407a;
    border: none;
    padding: 0px;
}

QLabel {
    color: white;
    font-size: 15px;
}

QPushButton {
    outline: 0;
    border: none;
    background: none;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

QPushButton:hover {
    border: 1px solid #2980b9;
    border-radius: 10px;
    
}